In [1]:
# importing necessary libraries
import pandas as pd
import researchpy as rp

In [2]:
# loading data using pandas
data = pd.read_csv('Rice_Station_Data_Extraction_Non_Uniform_Filtered.csv')

In [3]:
# Get 1st 5 rows of data
data.head()

,Planting date,Software,Location,Date,DOY,Altitude (m),Stage-Full,Stage,Plot_ID,Replicate,...,RVI,TVI,CVI,NDVI,DVI,Soy_yiled(bu/acre),Observed data,Days after planting,Canopy Height (cm),LAI
0,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,101,1,...,1.236684,2.960273,1.712160,0.105216,0.041239,66.73,NaN,NaN,NaN,NaN
1,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,102,1,...,1.229085,2.904267,1.694055,0.102217,0.038293,54.65,NaN,NaN,NaN,NaN
2,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,103,1,...,1.200309,2.315448,1.665547,0.090710,0.033462,56.88,NaN,NaN,NaN,NaN
3,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,104,1,...,1.252164,3.167063,1.749084,0.111270,0.038114,56.05,NaN,NaN,NaN,NaN
4,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,105,1,...,1.171546,1.422839,1.660871,0.078602,0.026899,51.59,NaN,NaN,NaN,NaN

In [4]:
# check column names of the dataset
data.columns

Index(['Planting date', 'Software', 'Location', 'Date', 'DOY', 'Altitude (m)',
       'Stage-Full', 'Stage', 'Plot_ID', 'Replicate', 'Zone',
       'Zone_Identification', 'Cover_Crop_Variety',
       'Treatment_2__Cut_Fill_Range', 'One_Mix_None_Cover_Crop', 'Thermal',
       'NDWI', 'EVI', 'NAVI', 'GNDVI', 'Cigreen', 'RENDVI', 'TGI', 'SAVI',
       'CI_RedEdge', 'BI', 'SCI', 'GLI', 'NGRDI_Zonal', 'SI', 'VARI', 'HUE',
       'BGI', 'PSRI', 'RVI', 'TVI', 'CVI', 'NDVI', 'DVI', 'Soy_yiled(bu/acre)',
       'Observed data', 'Days after planting', 'Canopy Height (cm)', 'LAI'],
      dtype='object')

In [5]:
# slice data for columns needed
slice_data = data[['Replicate','Zone_Identification', 'Cover_Crop_Variety','NDWI', 'EVI', 'NAVI', 'GNDVI', 'Cigreen', 'RENDVI', 'TGI', 'SAVI',
       'CI_RedEdge', 'BI', 'SCI', 'GLI', 'NGRDI_Zonal', 'SI', 'VARI', 'HUE',
       'BGI', 'PSRI', 'RVI', 'TVI', 'CVI', 'NDVI', 'DVI', 'Soy_yiled(bu/acre)']]
slice_data.head()

,Replicate,Zone_Identification,Cover_Crop_Variety,NDWI,EVI,NAVI,GNDVI,Cigreen,RENDVI,TGI,...,VARI,HUE,BGI,PSRI,RVI,TVI,CVI,NDVI,DVI,Soy_yiled(bu/acre)
0,1,"12"""" Cut",Triticale (TR),-0.184036,0.115173,0.189628,0.184036,0.454413,0.048335,2.491183,...,-0.123967,0.001565,0.765767,0.132600,1.236684,2.960273,1.712160,0.105216,0.041239,66.73
1,1,"12"""" Cut",Cereal Rye+ Black Oat+ Triticale (CR+BO+TR),-0.180077,0.113556,0.184759,0.180077,0.442328,0.043734,2.593134,...,-0.122405,0.001630,0.765593,0.130579,1.229085,2.904267,1.694055,0.102217,0.038293,54.65
2,1,"12"""" Cut",Black Oat (BO),-0.170547,0.101767,0.165882,0.170547,0.413386,0.037456,2.643563,...,-0.124985,0.001800,0.765344,0.134701,1.200309,2.315448,1.665547,0.090710,0.033462,56.88
3,1,"12"""" Cut",Cereal Rye+ Crimson Clover+ Kale (CR+CC+KA),-0.192279,0.119973,0.199392,0.192279,0.479366,0.044786,2.429277,...,-0.127238,0.001557,0.762464,0.133726,1.252164,3.167063,1.749084,0.111270,0.038114,56.05
4,1,"12"""" Cut",NC,-0.163843,0.084100,0.145183,0.163843,0.394377,0.032093,2.440546,...,-0.132432,0.001773,0.762492,0.144659,1.171546,1.422839,1.660871,0.078602,0.026899,51.59

In [ ]:
### IS soy yield same for all 6 cover_crop varieties or not?

H0: The mean value of 'SOY yield' is same across all Cover_Crop_Variety or there is no significant effect of Cover_Crop_Variety on the mean of Soy yield
Ha: The mean value of 'SOY yield' is not same across different Cover_Crop_Varieties or there is significant effect of Cover_Crop_Variety on the mean of 'SOY yield'

In [42]:
rp.summary_cont(data['Soy_yiled(bu/acre)'])

             Variable       N     Mean     SD      SE  95% Conf.  Interval
0  Soy_yiled(bu/acre)  1920.0  50.8671  5.443  0.1242    50.6235   51.1107

In [43]:
rp.summary_cont(data['Soy_yiled(bu/acre)'].groupby(data['Cover_Crop_Variety']))

,N,Mean,SD,SE,95% Conf.,Interval
Cover_Crop_Variety,,,,,,
Black Oat (BO),320,48.4075,6.4829,0.3624,47.6945,49.1205
Cereal Rye (CR),320,51.5275,3.1809,0.1778,51.1777,51.8773
Cereal Rye+ Black Oat+ Triticale (CR+BO+TR),320,51.2250,2.8918,0.1617,50.9070,51.5430
Cereal Rye+ Crimson Clover+ Kale (CR+CC+KA),320,51.7825,3.1259,0.1747,51.4387,52.1263
NC,320,48.1425,3.4117,0.1907,47.7673,48.5177
Triticale (TR),320,54.1175,8.4131,0.4703,53.1922,55.0428

In [44]:
import scipy.stats as sts

one_way=sts.f_oneway(data['Soy_yiled(bu/acre)'][data['Cover_Crop_Variety']=='Black Oat (BO)'],
             data['Soy_yiled(bu/acre)'][data['Cover_Crop_Variety']=='Cereal Rye (CR)'],
             data['Soy_yiled(bu/acre)'][data['Cover_Crop_Variety']=='Cereal Rye+ Black Oat+ Triticale (CR+BO+TR)'],
             data['Soy_yiled(bu/acre)'][data['Cover_Crop_Variety']=='Cereal Rye+ Crimson Clover+ Kale (CR+CC+KA)'],
             data['Soy_yiled(bu/acre)'][data['Cover_Crop_Variety']=='NC'],
             data['Soy_yiled(bu/acre)'][data['Cover_Crop_Variety']=='Triticale (TR)'])

print('for Soy_yiled(bu/acre):' ,one_way)

for Soy_yiled(bu/acre): F_onewayResult(statistic=63.97628964498815, pvalue=7.152071500450915e-62)

### IS soy yield same across all 4 replications or not?

In [36]:
rp.summary_cont(data['Soy_yiled(bu/acre)'].groupby(data['Replicate']))

             N     Mean      SD      SE  95% Conf.  Interval
Replicate
1          480  56.2667  5.0920  0.2324    55.8100   56.7233
2          480  51.4283  2.5176  0.1149    51.2025   51.6541
3          480  48.3533  3.6417  0.1662    48.0267   48.6799
4          480  47.4200  5.0388  0.2300    46.9681   47.8719

In [37]:
# import library, method
import scipy.stats as sts

# one way ANOVA 
one_way=sts.f_oneway(data['Soy_yiled(bu/acre)'][data['Replicate']==1],
             data['Soy_yiled(bu/acre)'][data['Replicate']==2],
             data['Soy_yiled(bu/acre)'][data['Replicate']==3],
             data['Soy_yiled(bu/acre)'][data['Replicate']==4])

print('for Soy_yiled(bu/acre):' ,one_way)

for Soy_yiled(bu/acre): F_onewayResult(statistic=430.21976119133586, pvalue=1.2086968396335206e-213)

### IS soy yield same across 4 replications when 'Triticale' is planted?

In [28]:
Triticale=slice_data.loc[slice_data['Cover_Crop_Variety']=='Triticale (TR)']
Triticale.shape

(320, 27)

In [25]:
Triticale.head()

,Replicate,Zone_Identification,Cover_Crop_Variety,NDWI,EVI,NAVI,GNDVI,Cigreen,RENDVI,TGI,...,VARI,HUE,BGI,PSRI,RVI,TVI,CVI,NDVI,DVI,Soy_yiled(bu/acre)
0,1,"12"""" Cut",Triticale (TR),-0.184036,0.115173,0.189628,0.184036,0.454413,0.048335,2.491183,...,-0.123967,0.001565,0.765767,0.132600,1.236684,2.960273,1.712160,0.105216,0.041239,66.73
10,1,"12"""" Fill",Triticale (TR),-0.233050,0.185973,0.302384,0.233050,0.615597,0.077404,2.381202,...,-0.087495,0.000645,0.771781,0.085948,1.445755,6.081193,1.807857,0.179732,0.056966,66.73
13,1,"6"""" Fill",Triticale (TR),-0.239826,0.197099,0.319174,0.239826,0.641744,0.082940,2.560417,...,-0.078395,0.000558,0.763371,0.076768,1.486726,6.612925,1.816027,0.192107,0.060609,66.73
20,1,No Fill No Cut,Triticale (TR),-0.249582,0.211448,0.332801,0.249582,0.677877,0.089787,2.147791,...,-0.079869,0.000525,0.787169,0.076186,1.518800,6.941025,1.856430,0.202025,0.065077,66.73
24,1,"6"""" Cut",Triticale (TR),-0.167148,0.114935,0.177607,0.167148,0.403612,0.043464,1.805505,...,-0.113284,0.001287,0.815568,0.117978,1.218122,2.747059,1.619002,0.097845,0.035877,66.73

In [26]:
rp.summary_cont(Triticale['Soy_yiled(bu/acre)'].groupby(Triticale['Replicate']))

C:\Users\anjir\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:2003: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\anjir\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:2004: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

            N   Mean   SD   SE  95% Conf.  Interval
Replicate
1          80  66.73  0.0  0.0        NaN       NaN
2          80  53.71  0.0  0.0        NaN       NaN
3          80  43.09  0.0  0.0        NaN       NaN
4          80  52.94  0.0  0.0        NaN       NaN

In [31]:
import scipy.stats as sts

one_way=sts.f_oneway(CR_BO_TR['Soy_yiled(bu/acre)'][CR_BO_TR['Replicate']==1],
             CR_BO_TR['Soy_yiled(bu/acre)'][CR_BO_TR['Replicate']==2],
             CR_BO_TR['Soy_yiled(bu/acre)'][CR_BO_TR['Replicate']==3],
             CR_BO_TR['Soy_yiled(bu/acre)'][CR_BO_TR['Replicate']==4])

print('for CR_BO_TR Soy_yiled(bu/acre):' ,one_way)

for CR_BO_TR Soy_yiled(bu/acre): F_onewayResult(statistic=6.178955342688435e+17, pvalue=0.0)

### IS soy yield same across 4 replications when 'CR+BO+TR' is planted?

In [40]:
CR_BO_TR=slice_data.loc[slice_data['Cover_Crop_Variety']=='Cereal Rye+ Black Oat+ Triticale (CR+BO+TR)']

In [32]:
import scipy.stats as sts

one_way=sts.f_oneway(Triticale['Soy_yiled(bu/acre)'][Triticale['Replicate']==1],
             Triticale['Soy_yiled(bu/acre)'][Triticale['Replicate']==2],
             Triticale['Soy_yiled(bu/acre)'][Triticale['Replicate']==3],
             Triticale['Soy_yiled(bu/acre)'][Triticale['Replicate']==4])

print('for Triticale Soy_yiled(bu/acre):' ,one_way)

for Triticale Soy_yiled(bu/acre): F_onewayResult(statistic=inf, pvalue=0.0)

### IS soy yield same across 4 replications when 'Black_Oat' is planted?

In [ ]:
Black_Oat=slice_data.loc[slice_data['Cover_Crop_Variety']=='Black Oat (BO)']

In [34]:
import scipy.stats as sts

one_way=sts.f_oneway(Black_Oat['Soy_yiled(bu/acre)'][Black_Oat['Replicate']==1],
             Black_Oat['Soy_yiled(bu/acre)'][Black_Oat['Replicate']==2],
             Black_Oat['Soy_yiled(bu/acre)'][Black_Oat['Replicate']==3],
             Black_Oat['Soy_yiled(bu/acre)'][Black_Oat['Replicate']==4])

print('for Black_Oat Soy_yiled(bu/acre):' ,one_way)

for Black_Oat Soy_yiled(bu/acre): F_onewayResult(statistic=3.88178062659542e+17, pvalue=0.0)